body {
  text-align: center;
}

#textbox {
  width: 300px;
  height: 200px;
  column-count: 40;
  rows: 5;
  padding: 10px;
  background-color: #fff497;
}

h1 {
  font-family: fantasy;
}

button {
  margin-top: 10px;
  padding: 7px 5px 5px 5px;
  text-align: center;
  font-family: fantasy;
}
